.nav {
  background-color: none;
  padding-bottom: 1rem;
  font-weight: 700;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--base-color);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.loader {
  background-color: var(--base-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  animation: sonar 1s ease-in-out 0.1s infinite;
}

@keyframes sonar {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
    transform: scale(2);
    opacity: 0;
  }
}
